{% extends "estoque/home copy.html" %}
{% block title %}
Editar Estoque
{% endblock %}
{% block content %}
<p>Editar Estoque</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for product in stock %}
<!-- TODO GABI: Fazer um card para cada produto -->
<div class="user">
    <form method="POST" class="abrirConta-form" action="">
        {% csrf_token %}
        <input type="hidden" name="product_name" value="{{ product.name }}">
        <p><b>{{ product.name }}</b></p>
        <p>- em estoque: {{ product.stock_quantity }}</p>
        <label for="new_quantity">Quantidade:</label>
        <input type="number" name="amount" min="0">
        <br>
        <button type="submit" name="action" value="add" class="btn btn-success">Adicionar</button>
        <button type="submit" name="action" value="subtract" class="btn btn-danger">Subtrair</button>
    </form>
</div>
{% endfor %}
{% endblock %}